[submodule "front"]
	path = front
	url = https://github.com/lordofdestiny/pia-project-frontend.git
	branch = main
[submodule "back"]
	path = back
	url = https://github.com/lordofdestiny/pia-project-backend.git
	branch = main
